* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  font-family: "DM Serif Display", serif;
}

.navbar {
  height: 70px;
  width: 100vw;
  position: relative;
}
.navbar__burger-menu img {
  height: 35px;
  width: 35px;
  margin: 15px;
  position: absolute;
}
.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar__logo img {
  width: 78px;
  height: 58px;
}

.hero {
  height: 50vh;
  width: 100vw;
  background-image: url("../images/banner/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}
.hero__text {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  line-height: 3.2rem;
  color: #FFFFFF;
}
.hero__button {
  width: 230px;
  margin: 10px auto;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #BC9428;
}

.main-description {
  width: 92%;
  margin: 20px auto;
  position: relative;
  color: #29292E;
}
.main-description__text p {
  padding-top: 15px;
}
.main-description__image {
  position: absolute;
  bottom: 0%;
  right: 0%;
  opacity: 0.1;
}

.services {
  width: 92%;
  margin: 0 auto;
}
.services__title {
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  padding-top: 25px;
  border-top: 2px solid #BC9428;
}
.services__container .service__container {
  height: 120px;
  width: 325px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.services__container .service__container a {
  position: relative;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  text-decoration: none;
  color: #29292E;
}
.services__container .service__container a p {
  z-index: 5;
  width: 80%;
  position: absolute;
  bottom: 130%;
  right: 10%;
  text-align: center;
  line-height: 3.5rem;
}
.services__container .service__container a img {
  height: 120px;
  width: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.5;
}
.services__container .service__container a .six {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.services__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 50px auto;
  position: relative;
}
.services__quote img {
  height: 52px;
  width: 88px;
  position: absolute;
  bottom: calc(100% - 28px);
  left: calc(50% - 44px);
}
.services__quote-container {
  padding-top: 35px;
  border-top: 2px solid #BC9428;
}
.services__quote-container p {
  font-size: 1.6rem;
  text-align: center;
}

.profiles__Mayte {
  background-color: #F2DDDF;
}