.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 5px auto 5px auto;
  -ms-grid-columns: auto 5px auto;
      grid-template: repeat(3, auto)/repeat(2, auto);
  gap: 5px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}