.footer {
    display: grid;
    grid-template: auto auto/1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background-color: $color-Mencanta;

    @include media(tablet) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    &__logo {
        grid-column: 1/span 2;
        text-align: center;

        img {
            width: 100px;

            @include media(tablet) {
                width: 110px;
            }
            
        }
    }

    &__services {
        justify-self: left;
        text-align: left;

        @include media(tablet) {
            text-align: center;
        }

        a {
            display: block;
            text-decoration: none;
            color: $color-oscuro;
        }

        h4 {
            text-decoration: underline;
        }
    }

    &__contact {
        justify-self: right;
        text-align: right;

        a {
            color: $color-oscuro;
        }

        &-icons {
            padding-top: 15px;

            svg {
                font-size: 2rem;
            }
        }
    }
}
