.footer {
    display: grid;
    grid-template: auto auto/1fr 1fr;
    justify-items: center;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background-color: $color-Mencanta;

    &__logo {
        grid-column: 1/span 2;
        text-align: center;

        img {
            width: 100px;
        }
    }

    &__services {
        justify-self: left;
        text-align: left;

        a {
            display: block;
            text-decoration: none;
            color: $color-oscuro;
        }

        h4 {
            text-decoration: underline;
        }
    }

    &__contact {
        justify-self: right;
        text-align: right;

        a {
            color: $color-oscuro;
        }

        &-icons {
            padding-top: 15px;

            svg {
                font-size: 2rem;
            }
        }
    }
}
