$Fuente1: 'Raleway', sans-serif;
$Fuente2: 'Prata', serif;
$color-Mencanta: #F3C2C7;
$color-secundario: #F2DDDF;
$color-contraste: #BC9428;
$color-gris: #585858;
$color-oscuro: #29292E;
$color-claro: #FFFFFF;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $Fuente1;
    font-size: 1.6rem;
}

h1 {
    font-size: 3.0rem;
    font-weight: 600;
    font-family: $Fuente2;
}