.hero {
    height: 40vh;
    width: 100vw;

    &__container {
        position: absolute;
        top: 0%;
        background-image: url("../images/banner/banner1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
    }

    &__text {
        width: 90%;
        margin: 0 auto 10px auto;
        font-size: 3.0rem;
        font-weight: 200;
        text-align: center;
        line-height: 3.2rem;
        color: $color-claro;
    }

    &__button {
        width: 230px;
        margin: 10px auto 30px auto;
        padding: 10px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-claro;
        background-color: $color-contraste;

    }
    
}