.main-description {
    width: 92%;
    margin: 10px auto 30px auto;
    position: relative;
    color: $color-oscuro;

    &__text {
        p {
            font-size: 1.6rem;
            padding-top: 15px;
        }
    }

    &__image {
        position: absolute;
        bottom: 0%;
        right: 0%;
        opacity: 0.1;
    }
}