.main-description {
    width: 92%;
    margin: 20px auto 50px auto;
    position: relative;
    color: $color-oscuro;

    @include media(tablet) {
        margin: 40px auto 60px auto;
    }

    @include media(desktop-s) {
        width: 80%;
    }

    &__text {
        p {
            padding-top: 15px;

            @include media(desktop-xl) {
                font-size: 2.0rem;
                line-height: 3rem;
            }
        }
    }

    &__image {
        position: absolute;
        bottom: -5%;
        right: 0%;
        opacity: 0.2;
        
        img {
            width: 200px;

            @include media(tablet) {
                width: 280px;
            }
        }
    }
}