.navbar {
    z-index: 999;
    height: 70px;
    width: 100vw;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-Mencanta;

    @include media(desktop-s) {
        display: flex;
        justify-content: space-around;
    }
    

    &__btn {
        position: absolute;
        display: block;
        font-size: 3rem;
        right: 4%;
        cursor: pointer;

        @include media(desktop-s) {
            display: none;
        }
    }

    &__logo {
        img {
            width: 78px;
            height: 58px;
        }
    }

    #check {
        display: none;
    }

    #check:checked ~ .navbar__services {
        height: 100vh;

        @include media(tablet) {
            width: 40%;
        }

        @include media(desktop-s) {
            height: 0%;
        }
    }

    #check:checked ~ .navbar__services ul {
        display: block;
    }

    &__services {
        position: fixed;
        width: 100%;
        height: 0;
        top: 70px;
        right: 0;
        background-color: $color-secundario;
        font-size: 1.6rem;
        transition: all .4s;

        @include media(tablet) {
            width: 40%;
        }

        @include media(desktop-s) {
            width: auto;
            height: inherit;
            position: relative;
            top: 0;
            display: flex;
            align-items: center;
            background-color: $color-Mencanta;
            font-size: 1.4rem;
            transition: none;
        }
        
        .services__menu {
            height: 100%;
            display: none;
            padding: 30px;
            list-style: none;

            @include media(desktop-s) {
                display: flex;
                flex-direction: row;
                padding: 0;
                gap: 20px;
            }

            @include media(desktop-l) {
                gap: 40px;
            }
            

            .menu-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 20px;

                @include media(tablet) {
                    justify-content: flex-end;
                }

                & > a {
                    font-weight: 300;
                    color: $color-oscuro;
                    text-decoration: none; 
                }

                @include media(desktop-s) {
                    justify-content: center;

                    &:hover .sub-menu {
                        pointer-events: all;
                        transform: translateY(0);   
                        opacity: 1;
                    }

                    height: inherit;

                    & > a {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                      
    
                        svg {
                            color: $color-oscuro;
                        }
    
                        &.active {
                            text-decoration: underline;
                            transition: 0.5s;
                        }
                        &:hover {
                            // margin-top: -2px;
                            // border-bottom: 1px solid $color-oscuro;
                            text-decoration: underline;
                            transition: 0.4s;
                        }  
                    }
                }

                .sub-menu {
                    width: 70vw;
                    position: relative;
                    list-style: none;
                    background: #fff3f4;
                    pointer-events: none;
                    transform: translatey(10px);   
                    transition: 0.3s;
                    transition-property: transform, opacity;
                    overflow: hidden;

                    @include media(tablet) {
                        width: 40vh;
                    }

                    @include media(desktop-s) {
                        width: 230px;
                        max-width: 350px;
                        position: absolute;
                        background: $color-claro;
                        top: 70px;
                        list-style: none;
                        line-height: 2rem;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);  
                        pointer-events: none;
                        transform: translateY(20px);   
                        opacity: 0;
                        transition: 0.3s;
                        transition-property: transform, opacity;
                    }

                    .sub-item {
                        padding: 10px 10px;
                        cursor: pointer;
                        text-align: center;
                        font-size: 1.5rem;
                        box-shadow: inset 0px -30px 5px -30px rgba(94, 62, 77, 0.2);

                        @include media(desktop-s) {
                            position: relative;
                            padding: 15px 15px;
                            cursor: pointer;
                            box-shadow: inset 0px -30px 5px -30px rgba(94, 62, 77, 0.2);
                        }
        

                        &:hover {
                            text-decoration: none;
                            background: $color-secundario;
                        }

                        a {
                            color: $color-oscuro;
                            text-decoration: none;
                            text-align: center;

                        }
                    
                    }
               }
              
            }
        }
    }
}
