.navbar {
    z-index: 999;
    height: 70px;
    width: 100vw;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-Mencanta;

    &__btn {
        position: absolute;
        display: block;
        font-size: 3rem;
        left: 4%;
        cursor: pointer;
    }

    

    &__logo {
        img {
            width: 78px;
            height: 58px;
        }
    }

    #check {
        display: none;
    }

    #check:checked ~ .navbar__services {
        height: 100vh;
    }

    #check:checked ~ .navbar__services ul {
        display: flex;
    }

    &__services {
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        top: 70px;
        background-color: $color-secundario;
        text-align: center;
        font-size: 1.6rem;
        transition: all .4s;
        
        ul {
            display: none;
            padding: 40px;
            gap: 40px;
            flex-direction: column;
            list-style: none;

            li {
                a {
                    color: $color-oscuro;
                    text-decoration: none;

                    &.active {
                        text-decoration: underline;
                        transition: 0.5s;
                    }
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                    }
                }
            }
           

        }
    }
}
