.other-services {
    width: 93%;
    margin: 0 auto;

    @include media(desktop-s) {
        width: 80%;
    }

    h2 {
        font-size: 2.4rem;
        margin: 20px auto;
    }

    &__container {
        width: 100%;
        display: grid;
        margin-bottom: 50px;
        grid-template: repeat(3, auto)/repeat(2, auto);
        gap: 5px;
        justify-items: center;
        justify-content: center;
        font-family: $Fuente2;

        @include media(tablet) {
            grid-template: repeat(2, auto)/repeat(3, auto);
            gap: 10px;
        }

        @include media(desktop-m) {
            display: flex;
        }


        &--small {
            margin: 40px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: $Fuente2;

            @include media(tablet) {
                flex-direction: row;
                justify-content: center;
                gap: 15px;
        }

            @include media (desktop-s) {
                gap: 80px;
            }

            .other {
                position: relative;
                text-align: center;
                    
                    a {
                        text-decoration: none;
                        color: $color-oscuro;
                    }

                    img {
                        height: 200px;
                        width: 80%;
                        max-width: 380px;
                        object-fit: cover;
                        object-position: top;

                         @include media(tablet) {
                            width: 250px;
                    }

                        @include media(desktop-s) {
                            height: 350px;
                            width: auto;
                        }
                    }

                    &__text {
                        width: 100%;
                        margin: 0 auto;
                        position: absolute;
                        bottom: 10%;
        
                        p {
                            width: 40%;
                            max-width: 180px;
                            padding: 10px;
                            margin: 0 auto;
                            background-color: $color-contraste;
                            line-height: 1.7rem;

                            @include media(tablet) {
                                width: 65%;
                        }
                        }
                    } 
                }      
        }

        .other {
            position: relative;
            text-align: center;

            a {
                display: flex; //quita el posiciconamiento de a
                text-decoration: none;
                color: $color-oscuro;
            }

            img {
                height: 130px;
                width: 165px;
                object-fit: cover;
                object-position: top;
            }


            &__text {
                width: 100%;
                margin: 0 auto;
                position: absolute;
                bottom: 10%;

                p {
                    width: 80%;
                    max-width: 180px;
                    padding: 10px;
                    margin: 0 auto;
                    background-color: $color-contraste;
                    line-height: 2rem;

                    @include media(tablet) {
                        width: 87%;
                    }
                }
            } 
        }
    }
}
