.profiles {
    .mayte {
        background-color: $color-secundario;

        &__container {
            width: 92%;
            padding: 30px 0;
            margin: 0 auto;

            @include media(desktop-s) {
                display: grid;
                grid-template: auto auto/1fr 1fr;
                width: 80%;
                padding-bottom: 50px;

                h2 {
                    grid-column: 1/span 2;
                }
            }

            .mayte__img {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
                
                img {
                    height: 300px;
                    width: 300px;
                    object-fit: cover;
                    object-position: top;

                    @include media(desktop-s) {
                        height: 330px;
                        width: 350px;
                    }
                }

                @include media(desktop-s) {
                    grid-column: 2;
                }
            }

            .mayte__info {
                p {
                    line-height: 2.2rem;
                }
                
                @include media(desktop-s) {
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
    }
    
    &__others {
       width: 92%; 
       margin: 50px auto;

       .profiles__carrousel {
           margin-top: 35px;
           display: flex;
           flex-direction: column;
           gap: 20px;
           justify-content: center;
           align-items: center;

           @include media(tablet) {
               flex-direction: row;
           }

           .profile {
               display: flex;
               width: 250px;
               flex-direction: column;
               justify-content: center;
               align-items: center;


               &__img {
                   height: 160px;
                   width: 180px;
                   margin: 10px auto;

                    img {
                        height: inherit;
                        width: inherit;
                        object-fit: cover;
                        object-position: top;
                        
                    }
               }

            &__name { 
                   text-align: center;
               }
               
               a {
                   text-decoration: none;
                   color: $color-oscuro;
               }

               p {
                   font-size: 1.4rem;             
               }
           }
       }

       @include media(desktop-s) {
        width: 80%;
      }

      
    }
}