.service {
    width: 93%;
    margin: 0 auto;

    h1 {
        font-weight: 400;
        text-align: center;
    }

    &-info {
        p {
            margin-top: 15px;
        }
        .bullet-text { 
            margin-left: 10px;

            svg {
                margin-right: 5px;
                font-size: 1.5rem;
            }
        }

        &__image {
            width: inherit;
            margin: 20px auto;
            text-align: right;
    
            img {
                width: 100%;
                max-width: 480px;
                text-align: center;
            }   
    
            .art-info {
                display: block;
                font-size: 10px;
                color: $color-gris;  
            }
        }
    }

    .button__container {
        width: 100%;
        margin: 40px 0;
        text-align: center;

         a {
             padding: 10px 30px;
             font-size: 1.4rem;
             font-weight: 600;
             text-transform: uppercase;
             text-decoration: none;
             border: 3px solid $color-contraste;
             color: $color-contraste;
         }
    }
}

.other-services {
    width: 93%;
    margin: 0 auto;

    h2 {
        font-size: 2.4rem;
        margin: 20px auto;
    }

    &__container {
        width: 100%;
        display: grid;
        margin-bottom: 50px;
        grid-template: repeat(3, auto)
        / repeat(2, 170px);
        gap: 5px;
        justify-items: center;
        justify-content: center;
        font-family: $Fuente2;

        .other {
            position: relative;
            text-align: center;

            a {
                text-decoration: none;
                color: $color-oscuro;
            }

            img {
                height: 130px;
                min-height: 110px;
                width: 165px;
                min-width: 150px;
                object-fit: cover;
                object-position: top;
            }

            &__text {
                width: 80%;
                padding: 5px;
                z-index: 999;
                position: absolute;
                bottom: 10%;
                right: 10%;
                background-color: $color-contraste;
                line-height: 1.7rem;
            }
        }
    }
}

