.services {
    width: 92%;
    margin: 0 auto;

    &__title {
        font-weight: 400;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-top: 25px;
        border-top: 2px solid $color-contraste;


        .service__container {
            height: 120px;
            width: 325px;
            align-self: center;

            a {
                position: relative;
                font-family: $Fuente2;
                font-size: 2.8rem;
                text-decoration: none;
                color: $color-oscuro;

                p {
                    z-index: 5;
                    width: 80%;
                    position: absolute;
                    bottom: 130%;
                    right: 10%;
                    text-align: center;
                    line-height: 3.5rem;
                }

                img {
                    height: 120px;
                    width: 325px;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0.5;
                }

                .six {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
        
    }

    &__quote {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px auto;
        position: relative;

        img {
            height: 52px;
            width: 88px;
            position: absolute;
            bottom: calc(100% - 28px);
            left: calc(50% - 44px);
        }

        &-container {
            padding-top: 35px;
            border-top: 2px solid $color-contraste;

            p {
                font-size: 1.6rem;
                text-align: center;

                b {
                    font-weight: 700;
                }
            }

        }
    }
}