.services {
    width: 92%;
    margin: 0 auto;

    &__title {
        text-align: center;
    }

    &__line {
        border-top: 2px solid $color-contraste;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 325px;
        min-width: 300px;
        margin: 0 auto;
        padding-top: 25px;


        .service__container {
            height: 120px;
            width: inherit;
            align-self: center;

            a {
                position: relative;
                font-family: $Fuente2;
                font-size: 2.0rem;
                text-decoration: none;
                color: $color-oscuro;

                p {
                    z-index: 5;
                    width: 100%;
                    padding: px;
                    position: absolute;
                    bottom: 170%;
                    text-align: center;
                    background-color: $color-contraste;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    opacity: 0.5;
                }

                .six {
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
        
    }

    &__quote {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px auto;
        position: relative;

        img {
            height: 52px;
            width: 88px;
            position: absolute;
            bottom: calc(100% - 28px);
            left: calc(50% - 44px);
        }

        &-container {
            padding-top: 35px;
            border-top: 2px solid $color-contraste;

            p {
                font-size: 1.6rem;
                font-style: italic;
                text-align: center;
            }

        }
    }
}